<!-- todo_app/templates/base.html -->
<!-- Base template -->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Simple.css-->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Django To-do Lists</title>
</head>
<style>.line-through {
    text-decoration: line-through;
}</style>

<body>
<!--Navbar-->

<nav class="navbar navbar-expand-lg navbar-light bg-light" align="right">
  <!--<a class="navbar-brand" href="#">Navbar</a>-->
  <!--< class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->
  <div class="collapse navbar-collapse" id="navbarText" >
        <div class="float-right" >
    <!--<ul class="navbar-nav mr-auto">-->
      {% if user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link" href="/logout">Welcome, {{user.username}}!! Click here to logout</a>
      </li>
        {% endif %}

  </div>
  </div>
</nav>

    <div>
        <h1 onclick="location.href='{% url "index" %}'">
            Django To-do Lists
        </h1>
    </div>
    <div>
        {% block content %}
        This content will be replaced by different html code for each page.
        {% endblock %}
    </div>
</body>

</html>